/*the body and some html elements properties defined here */
html, body{
    min-height: 100vw;
    background-color:wheat;
    margin:auto;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}

/* this part deals whit the header section */
.bg-header{
    background-color:#324800;

}
.game-round{
    display: inline-block;
    background-color: #187b00;
    width: 50%;
    height: 100%;
    color: white;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    font: bold;
}

.game-round-on{
    display: inline-block;
    width: 50%;
    height: 100%;
    color: white;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    font: bold;
}

/*nav section starts here */
.nav-link{
    color:white;
}
.nav-link:hover{
    color:white;
}
.nav-link::after{
    color:white;
}

h1,h2{
    color:blue;
    font-family:"Times New Roman";
}

.bg-side-color{
    background-color:blue;
}
    
.bg-grey-color{
    background-color:grey;
}
    
.scoreinformation{
    width: 40%;
    max-height: 25%;
    font-size:20px;
    color:white;
}

.btn-off-visible{
    visibility: hidden;
}
.btn-on-visible{
    visibility:visible;
}

    
.boardsize{
    margin-top:50px;
    max-height:60%;
    max-width:60%;
}
    
        /* for 4 x 4 */
.game-board{ 
     display: grid;
     grid-template-columns: 70px 70px 70px 70px;
     grid-template-rows: 70px 70px 70px 70px 70px;
     justify-content: center;
}
    /*<> */
.box {
     background-color: white;
     border: 2px solid blue;
}
span{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    
    /* index page styling finishes here */
}

hr {
    border: 2px solid #187b00;;
}
.text-ajust{
    padding: 10px;
    text-align: justify;
}
/*footer section starts from here */
.class-footer{
    color: wheat;
    background-color: black;
    margin-top: auto;
    height: 90px;
    text-align:center;
    line-height: 100px;
}

/*media query */


@media screen and (max-width: 540px) and (min-width: 361px){    

    html,body{
        font-size: 15px;
    }
    .container-fuid{
        flex-direction: row;
    }
    .game-round{
        width: 15%;
        height: 20%;
        line-height: 100px;
        font-size: 10px;
    }
        
    .game-round-on{
        width: 15%;
        height: 20%;
        line-height: 100px;
        font-size: 10px;
    }

    a:hover{
        background-color:transparent;
    }
    .class-footer{
        font-size: 18px;
    }
    .btn{
        margin-top: 5%;
    }

    .scoreinformation{
        width: 1000vw;
        max-height: 50%;
        font-size:20px;
        color:white;
    }
}
