/*the body and some html elements properties defined here */
html, body {
    padding-left: 5px;
    padding-right: 10px;
    background-color:wheat;
    margin:auto;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}

/* this part deals whit the header section */
.bg-header {
    /* header color background*/
    background-color:#324800;
}

.game-round {
    /* here i define the size of the round where the letters goes in */
    display: inline-block;
    background-color: #187b00;
    width: 70px;
    height: 70px;
    color: white;
    line-height: 70px;
    text-align: center;
    font-size: 30px;
    font: bold;
}

.display-match-information {
    height: 40px;
    color:blue;
    padding: 10px;
}
/*nav section starts here  this nav is from bootstrap*/
.nav-link {
    color:white;
}
.nav-link:hover {
    color:white;
}
.nav-link::after {
    color:white;
}

/* i create a section called welcome that sits beneaf the nav bar just to make the page more appealing*/
.welcome {
    background-color: white;
    color:black;
    text-align: center;
}

h3, h2 {
    color:blue;
    font-family:"Times New Roman";
}

/* gdefine the score area size*/
.btn-off-visible {
    visibility: hidden;
    height: 0px;
}
/* turn on some elements on page - make them visible again*/
.btn-on-visible {
    visibility:visible;
}

button {
    margin-top: 10px;
    cursor: pointer;
}
    
#grad:hover {
    background-image: linear-gradient(red, yellow, green);
  }

.board-game-one { 
    /* 4 by 3 for 6 pais of guess a total of 12 square
    /* form 1 to 5 show the number for 5 seconds and from 6 to 10 a total guess */ 
     display: grid;
     grid-template-columns: 60px 60px 60px 60px;
     grid-template-rows: 60px 60px 60px;
     justify-content: center;
}
.board-game-two {
    /*4 by 4 8 pairs of guess*/
    /*a total of 16 square */
    display: grid;
    grid-template-columns:60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px;
    justify-content: center;
}

.board-game-three { 
    /* 5 by 4 10 pais of guess*/
    /*a total of 20 square */
     display: grid;
     grid-template-columns: 60px 60px 60px 60px 60px;
     grid-template-rows: 60px 60px 60px 60px;
     justify-content: center;
}

.board-game-four {
    /*6 by 6  18 pairs of guess*/ 
/*a total of 36 square */
    display: grid;
    grid-template-columns: 55px 55px 55px 55px 55px 55px;
    grid-template-rows: 55px 55px 55px 55px 55px 55px;
    justify-content: center;
}

/*<> */

.box {
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    background-color: white;
    padding-left: 10px;
    border: 2px solid blue;
    border-radius: 8px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
}

.box-select-level {
    transition-duration: 0.4s;
}
.box:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.box:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.box:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.box-select-level:hover {
    background-image: linear-gradient(yellow, green);
    color: white;
}

.box-select-level {
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    background-color: white;
    border: 2px solid blue;
    border-radius: 8px;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    /* index page styling finishes here */
}

hr {
    border: 2px solid #187b00;
}
.text-ajust {
    text-align: justify;
}

/*footer section starts from here */
.class-footer {
    color: wheat;
    background-color:#ac9b7d;
    margin-top:auto;
    text-align:center;
    line-height: 100px;
}

a {
    text-decoration: none;
}
/*media query */

.select-any-level {
    text-align: right;
}

.click-here {
    color:blue;
}

.hide-menu {
    visibility: hidden;
}

.show-pairs {
    visibility: visible;
}

.box-close {
    cursor: pointer;
    height: 25px;
    width: 25px;
    font-size: 20px;
    text-align: center;
    background-color: gray;
    margin-left: 100px;
}

@media only screen and (max-width: 412px) {
    html,body {
        padding: 5px;
        font-size: 16px;
        height: auto;
    }
    .jumbotron {
        height: 0px;
        visibility: hidden;
    }
    .scoreinformation {
        background-color: white;
        color: blue;
        height: 120px;
     }

    span {
        color :blue;
    }
    /* here I hide section one two and three to make the most of the space on mobile devices suitable */    
    .hide-section-two {
        visibility: hidden;
        height: 0px;;   
    }     

    .score-chart {
        text-align: left;
    }   

    .board-game-one { 
        /* 4 by 3 for 6 pais of guess a total of 12 square
        /* form 1 to 5 show the number for 5 seconds and from 6 to 10 a total guess */ 
         display: grid;
         grid-template-columns: 50px 50px 50px 50px;
         grid-template-rows: 50px 50px 50px;
         justify-content: center;
    }
    .board-game-two {
        /*4 by 4 8 pairs of guess*/
        /*a total of 16 square */
        display: grid;
        grid-template-columns:50px 50px 50px 50px;
        grid-template-rows: 50px 50px 50px 50px;
        justify-content: center;
    }
    
    .board-game-three { 
        /* 5 by 4 10 pais of guess*/
        /*a total of 20 square */
         display: grid;
         grid-template-columns: 50px 50px 50px 50px 50px;
         grid-template-rows: 50px 50px 50px 50px;
         justify-content: center;
    }
    
    .board-game-four {
        /*6 by 6  18 pairs of guess*/ 
    /*a total of 36 square */
        display: grid;
        grid-template-columns: 40px 40px 40px 40px 40px 40px;
        grid-template-rows: 40px 40px 40px 40px 40px 40px;
        justify-content: center;
    }
    .hide-menu {
        visibility: visible;
    }
    
    .box {
        cursor: pointer;
        font-size: 20px;
    }
    .display-match-information {
        height: 40px;
        margin-left: 0px;
        color:green;
    }
}
